
:root
{
	--hover-color: unset;
	--hover-bg-color: #EAEAEA;
	--menu-bg-color: #f7f7f7;
	--color: unset;
	--background-color: white;
	--date-border: #CACACA;
	--favicon-size: 21px;
	--favicon-border: 3px;
	--favicon-margin: calc(var(--favicon-border) / 2);
	--favicon-width: calc(var(--favicon-size) - var(--favicon-border));
	--favicon-margin-left: calc(0.5em + var(--favicon-margin));
	--favicon-margin-right: calc(0.3em + var(--favicon-margin));
}

body
{
	padding: 0;
	margin: 0;
	background-color: var(--background-color);
	color: var(--color);
	-webkit-user-select: none;
	user-select: none;
}

.index
{
	padding: 1em 0 0.8em 0.5em;
	padding: 0 0 0 0.5em;
	grid-area: index;
	line-height: 3em;
	text-align: right;
	vertical-align: top;
}

.menu > .index
{
	padding: 0.7em 0 0.5em 0.5em;
	line-height: 1em;
}

.tabs .index
{
	padding-left: 0;
	justify-self: right;
}

.tabs .index,
#empty,
.container
{
	display: inline-block;
	width: max-content;
}

.container
{
	--offset: calc(calc(var(--index-length) + 0.3em) / 1.5);
}

table
{
	border-collapse: collapse;
}

.option
{
	position: relative;
	display: grid;
	max-width: 65em;
	background-color: var(--background-color);
	cursor: pointer;
	grid-template-areas:
		"index content date";
	grid-template-columns: var(--index-length-tabs, var(--index-length)) 1fr 0;

}

td > *
{
	margin: 0.3em 0;
}

.option,
.option *
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tabs > .option
{
	text-align: left;
}

body[contextMenu] .option
{
	cursor: not-allowed;
}

body[contextMenu]
{
	min-height: 9em; /* enough to display context menu */
}

/* stylelint-disable-next-line no-descending-specificity */
.tabs > .option,
:not(.tabs) > .option:not(:first-of-type)
{
	border-top: 1px dotted rgb(128 128 128 / 30%);
}

.container:not(.tabs) > .option > .content > .content-box > div
{
	margin-right: calc(var(--offset) / 2);
}

.title
{
	font-weight: bold;
	text-align: left;
}

.menu.option > .title
{
	display: inline-block;
	width: -webkit-fill-available;
	height: 2.5em;
	padding: 0 0.5em;
	line-height: 2em;
	vertical-align: middle;
}

.sub
{
	z-index: 1;
	display: inline-block;
	padding: 0.3em 0.5em 0;
	border: 1px solid transparent;
	line-height: 2.5em;
}

.sub::before
{
	content: "▼";
	font-size: 0.8em;
	line-height: 2em;
	vertical-align: super;
}

.option.open .sub::before
{
	content: "▲";
}

.item
{
	padding: 0.5em 1em;
}

.date
{
	position: absolute;
	top: 0;
	right: 0.3em;
	min-width: 2ch;
	height: 4em;
	padding: 0.2em 0.3em;
	font-size: 0.8em;
	font-weight: normal;
}

.date[data-date]::before
{
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
	width: max-content;
	height: max-content;
	padding: 0.05em 0.2em;
	border: 1px solid var(--date-border);
	border-radius: 0.4em;
	background-color: var(--background-color);
	content: attr(data-date);
	opacity: var(--opacity, 0.6);
}

.date:hover
{
	--opacity: 1;
}

.tabs
{
	--tabs-width: calc(100% + calc(var(--offset) / 2));

	position: relative;
	left: calc(0.0em - var(--offset));
	display: grid;
	width: var(--tabs-width);
	padding: 1em;
	margin: -1em -1em -0.3em;
}

.open
{
	--background-color: var(--menu-bg-color); /* change color of nested items */

	background-color: var(--menu-bg-color);
}

.menu > .content > .content-box > .title
{
	width: var(--window-title-length);
}

body[contextMenu] .option:not(.highlight)
{
	filter: grayscale(100%) blur(1px);
	opacity: 0.5;
}

.item:hover,
.option.highlight,
body:not([contextMenu]) .sub:hover,
body:not([contextMenu]) .option:not(:has(.sub:hover,.option:hover)):hover
{
	--background-color: var(--hover-bg-color);
	--color: var(--hover-color);

	z-index: 2;
	border-radius: 0.1em;
	background-color: var(--background-color);
	box-shadow: 0 0 1em 0 rgb(0 0 0 / 35%);
	color: var(--color);
	outline: 1px solid rgb(0 0 0 / 35%);
}

.item:hover,
body:not([contextMenu]) .sub:hover
{
	border-color: rgb(0 0 0 / 35%);
	border-radius: 0;
	outline: 0;
}

.hidden
{
	visibility: hidden;
}

.content
{
	overflow: visible;
	grid-area: content;
	white-space: nowrap;
}

.tabs .content
{
	overflow: visible;
	max-width: calc(65em - calc(var(--index-length-tabs) + 2em));
}

.content-box
{
	display: inline-block;
	max-width: calc(62em - var(--index-length));
	padding: 0.2em 0;
	margin: 0;
}

.no-title .content-box,
.no-url .content-box
{
	height: 100%;
	padding: 0;
	line-height: 3em;
	vertical-align: middle;
}

.menu table .content-box
{
	max-width: 56em;
}

.menu > .content
{
	position: relative;
	overflow: visible;
	padding-left: 0.3em;
	text-align: center;
}

.menu:not(.open) > .content
{
	height: 2.5em;
}

.menu > .content > .content-box
{
	display: inline-flex;
	max-width: 59em;
	height: 2.5em;
	padding: 0;
	line-height: 2.5em;
}

.tabs > .option > .content > .content-box
{
	max-width: calc(100% - calc(24px + var(--favicon-margin-left) + var(--favicon-margin-right)));
}

.url
{
	font-style: italic;
	grid-area: url;
	opacity: 0.5;
}

.favicon
{
	display: inline-block;
	width: var(--favicon-width);
	height: var(--favicon-width);
	margin: calc(0.6em + var(--favicon-margin)) var(--favicon-margin-right) 0 var(--favicon-margin-left);
	object-fit: contain;
	vertical-align: top;
}

.no-icon .favicon,
.favicon[style=""],
.favicon:not([style])
{
	--favicon-border: 3px;
	--favicon-margin: calc(var(--favicon-border) / 2);
	--favicon-margin-left: calc(0.5em + var(--favicon-margin));
	--favicon-margin-right: calc(0.3em + var(--favicon-margin));
	--favicon-width: calc(var(--favicon-size) - var(--favicon-border));

	outline: 1px dotted rgb(128 128 128 / 50%);
}

.favicon::before
{
	display: block;
	width: 100%;
	height: 100%;
	background-image: var(--url);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
}

.no-icon .favicon::before
{
	background-image: none;
}

.no-icon .favicon
{
	width: 0;
	margin-left: 0;
	visibility: hidden;
}

.no-title .favicon,
.no-url .favicon
{
	margin-top: 0;
	margin-bottom: 0;
	vertical-align: middle;
}

#contextMenu
{
	position: fixed;
	z-index: 9;
	border: 1px solid rgb(128 128 128 / 50%);
	background-color: var(--background-color);
	box-shadow: 3px 3px 10px 1px rgb(28 28 28);
	color: var(--color);
	white-space: nowrap;
}
 
#list:empty,
#empty,
#templates,
body.no-date .date,
body:not([contextMenu]) > #contextMenu,
.option:not(.open) .container,
.no-title .option:not(.menu) .title,
.no-url .url,
.collapsed
{
	display: none;
}

#contextMenu > *::before
{
	padding-right: 1em;
	vertical-align: middle;
}

#copyUrl::before
{
	content: url("copyUrl.png");
}

#copyTitle::before
{
	content: url("copy.png");
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--hover-bg-color: #616161;
		--hover-color: white;
		--menu-bg-color: #3A3A3A;
		--color: silver;
		--background-color: #4A4A4A;
		--date-border: #3A3A3A;
	}

}

body.empty > #empty
{
	display: block;
	padding: 0.1em 1em;
	font-size: 1.5em;
}