
:root
{
	--hover-color: unset;
	--hover-bg-color: #EAEAEA;
	--menu-bg-color: #f7f7f7;
	--color: unset;
	--background-color: white;
	--menu-border-width: 0.8em;
	--date-border: #CACACA;
}

body
{
	padding: 0;
	margin: 0;
	background-color: var(--background-color);
	color: var(--color);
	-webkit-user-select: none;
	user-select: none;

	--date-offset: calc((var(--num-length) + 1.5em) + var(--date-length));
}

body.no-date
{
	--date-length: 0ch;
}

#empty,
.container
{
	width: max-content;
	max-width: 65em;
}

.menu.option
{
	padding: 0;
	/* background-color: var(--menu-bg-color); */
}

.option
{
	padding: 0.5em;
	background-color: var(--background-color);
}


.option,
.option *
{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.option:not(.menu)
{
	display: grid;
	justify-content: space-between;
	grid-template-areas:
		"num favicon title date"
		"num favicon url url";
	/* height: 2.7em; */
	grid-template-columns: fit-content(100%) fit-content(100%) 1fr;
}

.container > .option
{
	position: relative;
}

.option:not(:last-child)
{
	border-bottom: 1px dotted rgb(128 128 128 / 30%);
}

.menuTitle,
.title
{
	font-weight: bold;
	/* grid-area: title; */
}

.menuTitle .title
{
	/* display: inline-block; */
	/* width: var(--window-title-length); */
	/* width: fit-content; */
	pointer-events: none;
	text-align: left;
}

.menu.option > .title
{
	display: inline-block;
	width: -webkit-fill-available;
	height: 2.5em;
	padding: 0 0.5em;
	line-height: 2em;
	vertical-align: middle;
}

.sub
{
	padding: 0 0.5em;
	float: left;
	pointer-events: all;
	vertical-align: top;
}

.item
{
	padding: 0.5em 1em;
}

.date
{
	position: relative;
	top: 0;
	right: 0;
	height: 1.7em;
	padding: 0 0.3em;
	border: 1px solid var(--date-border);
	border-radius: 0.5em;
	margin: -0.6em -0.6em 0 0.5em;
	background-color: var(--background-color);
	color: var(--color);
	float: right;
	font-size: 0.8em;
	font-weight: normal;
	line-height: 1.7em;
	pointer-events: all;
	vertical-align: middle;
}

.option.menu > .date
{
	position: absolute;
	top: 0.6em;
	right: 0.7em;
	opacity: 0;
}

.option.menu .menuTitle > span
{
	display: inline-block;
	width: calc(var(--window-title-length) + var(--date-length));
	height: 2.5em;
	margin-right: var(--date-length);
	text-align: left;
}

.option.menu .menuTitle .date
{
	position: absolute;
	margin: 0;
	pointer-events: none;
}

.item:hover,
body:not([contextMenu]) .sub:hover,
body:not([contextMenu]) .option:not(.menu):hover,
body:not([contextMenu]) .option:not(.menu):hover > *,
body:not([contextMenu]) .menu.option .title:hover,
body:not([contextMenu]) .menu.option .date:hover ~ *,
body:not([contextMenu]) .menu.option .title:hover ~ *:not(.sub),
body:not([contextMenu]) .menu.option .title:hover ~ .menuTitle > *,
body:not([contextMenu]) .menu.option .date:hover ~ .menuTitle > *,
body:not([contextMenu]) .menu.option .title:hover ~ .menuTitle > * > *:not(.sub),
body:not([contextMenu]) .menu.option .date:hover,
body:not([contextMenu]) .menu.option .date:hover ~ .menuTitle > * > *:not(.sub)
{
	--background-color: var(--hover-bg-color);

	background-color: var(--hover-bg-color);
	color: var(--hover-color);
	cursor: default;
}

.option.menu > .title::before,
.option:not(.menu)::before
{
	display: inline-block;
	/* min-width: 1em; */
	width: var(--num-length);
	height: 2em;
	padding-right: 0.5em;
	content: attr(data-num);
	font-weight: normal;
	grid-area: num;
	line-height: 2em;
	text-align: right;
	vertical-align: middle;
}

.option.menu > .title::before
{
	position: relative;
	z-index: 1;
	display: inline-block;
}

.menu.option::before
{
	position: absolute;
	top: 0;
	left: 0;
	height: 2.5em;
	padding: 0 0.5em;
	line-height: 2.5em;
	pointer-events: none;
}

.hidden
{
	visibility: hidden;;
}

.menu.option:not(.open)
{
	/* overflow: initial; */
	min-width: calc(var(--window-title-length) + var(--date-offset));
	min-height: 1.5em;
}

.url
{
	display: block;
	font-style: italic;
	grid-area: url;
	opacity: 0.5;
}

.favicon,
.faviconPlaceholder
{
	width: 1.5em;
	margin: 0.3em 0.5em auto 0.1em;
	grid-area: favicon;
}

.option > .container
{
	width: auto;
	padding: 0 var(--menu-border-width) var(--menu-border-width) var(--menu-border-width);
}

#contextMenu
{
	position: fixed;
	z-index: 9;
	border: 1px solid rgb(128 128 128 / 50%);
	background-color: var(--background-color);
	box-shadow: 3px 3px 10px 1px rgb(28 28 28);
	color: var(--color);
	white-space: nowrap;
}
 
.sub::before
{
	content: "▼";
	font-size: 0.8em;
	/* line-height: 1em; */
	/* vertical-align: top; */
}

.option.open .sub::before
{
	content: "▲";
}

/* stylelint-disable-next-line no-descending-specificity */
#empty,
#templates,
body.no-date .date,
.menu .option .date,
body:not([contextMenu]) > #contextMenu,
.option > .favicon[src=""],
.option:not(.open) > .container,
.faviconPlaceholder,
.collapsed
{
	display: none;
}

.favicon[src=""] + .faviconPlaceholder
{
	position: relative;
	display: inline-block;
	height: 1.5em;
	border: 1px dotted rgb(128 128 128 / 50%);
}

#copy::before
{
	padding-right: 1em;
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYxJREFUeNpi/P//PwMIMDIygumKioouIFXKgBss6+joiIZxWLAo+N7e3o4huGbNGoazZ88yRMfERAK5j4CG1ADpv3ADgDbvBFLSQKyJzVqYS0GOBRqSCaTlgYbEMyGpEQLarA2kmbAZwM7OjszlBxriArR0NrIXDgGxCS6Pc3BwgOmlS5bAhESBOB7ZgO94Ao5BSlqawcHBAcx+//49mL548SJKICrjM0BHWxuMkQG6AWLIkpGRkXD28uXLcYohG8AGYwQEBIBpC0tLMN3a2gqm9Q0MwPSJ48fBajQ1NZ8jG/ASxvj8+TPD3r17wezExEQUZ8+fPx9MOzs7g6idyAa8gzE+fvzIYGJiwuDm5sYgKSnJsGvXLrA4iF9VVQXnA8EzZAM+wxhnzpxhUFNTA6c+ELh16xaYBonBAEissrJSFtkAOWSnwjQRENNANuA1jAE0mYEI8AyI/4DTOAgDk+Xi/yQAoPoW9GjUhtoMyjX7gfgbEEuC8ggQMwPxAyD+BMR3gVgYlLZAigECDABLParARr1NQwAAAABJRU5ErkJggg==");
	vertical-align: middle;
}

#copyTitle::before
{
	padding-right: 1em;
	content: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAARpJREFUeNpi/P//PwMIMDIygumKioouIFXKgBss6+joiIZxWLAo+N7e3o4huGbNGoazZ88yRMfERAK5j4CG1ADpv3ADgDbvBFLSQKyJzVqYS0GOBRqSCaTlgYbEMyGpEQLarA2kmbAZwM7OjszlBxriArR0NrIXDgGxCS6Pc3BwgOmlS5bAhESBOB7ZgO94Ao5BSlqawcHBAcx+//49mL548SJKICrjM0BHWxuMkQHIAGT/ijGQAZANYCND/3NkA16SYcBOZAPekWHAM2QDPpNhgCyyAXJkGKCBHI2vYYzKykqinA/Ef8BpHISByXLxfxIAUH0Lem7UhtoMyjX7gfgbEEuC8ggQMwPxAyD+BMR3gVgYlLZAigECDAAgPnhLyHHy9QAAAABJRU5ErkJggg==");
	vertical-align: middle;
}

@media (prefers-color-scheme: dark)
{
	:root
	{
		--hover-bg-color: #616161;
		--hover-color: white;
		--menu-bg-color: #3A3A3A;
		--color: silver;
		--background-color: #4A4A4A;
		--date-border: #3A3A3A;
	}

}


.menu.option.open
{
	background-color: var(--menu-bg-color);
}

.menuTitle
{
	position: absolute;
	top: 0;
	left: calc(var(--num-length) + 0.5em);
	overflow: unset;
	width: -webkit-fill-available;
	height: 2.5em;
	line-height: 2.5em;
	pointer-events: none;
	text-align: center;
	vertical-align: middle;
}

body.empty > #empty
{
	display: block;
	padding: 0.1em 1em;
	font-size: 1.5em;
}